html {
    font-size: 16px;
}

header {
    background: #E89005;
    padding: 1%; 
}

#navbar {
    padding: 1.5%;
    text-align: right;
}

#navbar a {
    color: #FFFFFA;
    margin-right: 1rem;
    font-size: 1.3rem;
    border-bottom: 1px solid #FFFFFA;
}

#welcome-section {
    height: 100vh;
    background: #27213C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#welcome-section h1 {
    color: #FFFFFA;
    font-size: 2.5rem;
    margin-top: 0;
}

#welcome-section p {
    color: #E89005;
    font-style: italic;
    font-size: 1.5rem;
    margin-top: 0;
}

#projects {
    background: #5A352A;
    padding-top: 1.5rem;
}

#projects h1 {
    color: #FFFFFA;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0;
}

#projects h1::after {
    content: "";
    width: 80%;
    height: 1px;
    color: #FFFFFA;
    position: relative;
    top: 0;
    left: 0;
}